In [1]:
print("hello")

hello

In [2]:
print('world')

world

In [6]:
a=12
type(a)

int

In [7]:
print(a)

12

In [8]:
print a

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2947294964.py, line 1)

In [25]:
print('\ttwinkle twinkle twinkle little star\n')
print('how i wonder\t\t\thow you are\n')
print('up above the wolrd\t\tso high\n')
print('\tlike a diamond in the sky\n')

	twinkle twinkle twinkle little star

how i wonder			how you are

up above the wolrd		so high

	like a diamond in the sky

In [28]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [29]:
a=12
print(id(a))

140718573982856

In [31]:
a=False
print(type(a))

<class 'bool'>

In [33]:
s="this is an online AI COURSE"
s1='i am ayush singh'
s2='my age is 20'
print(s)
print(s1)
print(s2)
print(type(s2))
s3="""multi line
string here is
shown"""
print(s3)

this is an online AI COURSE
i am ayush singh
my age is 20
<class 'str'>
multi line
string here is
shown

In [35]:
a="12345679"
print(a[-4])

5

In [37]:
#slicing
a[2:5]

'345'

In [38]:
a[:4]

'1234'

In [40]:
a[7]

'9'

In [41]:
a[10]

IndexError: string index out of range

In [49]:
a=[10, 20.5, "hello", 6+7j]
print(a)
print(a[3])
print(a[0])
print(a[1:3])
print(a[-1])
print(a[-4])

[10, 20.5, 'hello', (6+7j)]
(6+7j)
10
[20.5, 'hello']
(6+7j)
10

In [55]:
a=[10,20,30,40,50]
c=0
for i in range(0,len(a)):
    c=a[i]+c
print(c)

150

In [57]:
a=[10,20.6,34.5,20]
c=0
for i in range(0,len(a)):
    c=a[i]+c
print(c)

85.1

In [58]:
a=[10,20.6,"hello"]
c=0
for i in range(0,len(a)):
    c=a[i]+c
print(c)

TypeError: can only concatenate str (not "float") to str

In [62]:
#tuple is immutable
t=(1,1.5,"ML")
print(t)
t[1]=3
print(t)

(1, 1.5, 'ML')

TypeError: 'tuple' object does not support item assignment

In [63]:
#list is mutable
a=[10,23.5,45]
print(a)
a[2]=20
print(a)

[10, 23.5, 45]
[10, 23.5, 20]

In [65]:
a=(10,20.4,"hello")
a[3]=11.6
print(a)

TypeError: 'tuple' object does not support item assignment

In [73]:
s={10,10,10,30,20,40,5}
print(s)
print(type(s))
print(id(s))
print(s[1])
#index does not work on sets

{20, 5, 40, 10, 30}
<class 'set'>
1672938054464

TypeError: 'set' object is not subscriptable

In [74]:
s={10,10,20,30,30,30}
print(s)
#set cant store same value it will perform union

{10, 20, 30}

In [75]:
t=(10,20,20,30,30)
print(t)
#tuple can store same values also

(10, 20, 20, 30, 30)

In [78]:
a={1,2,3,4}
b={2,3}
print(a-b) #set

{1, 4}

In [79]:
int('0')

0

In [80]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [84]:
user="ayush"
lines=100
print("congratulations,"+user+"!.You just wrote "+str(lines)+" words")

congratulations,ayush!.You just wrote 100 words

In [89]:
s="nihar"
s[0]='b'
print(s)

TypeError: 'str' object does not support item assignment

In [10]:
#dictionary
#it is an unordered collection of key values pairs
d={'a':"apple",'b':"bat",'c':"cat",12:"hello"}
print(d)
print(d['b'])
print(d[12])
print(d['a'])

{'a': 'apple', 'b': 'bat', 'c': 'cat', 12: 'hello'}
bat
hello
apple

In [20]:
#LOOPS
l=[5,6,7]
j=0
for i in l:
    j=j+i
print(j)

18

In [14]:
l=[5,6,4,2,10,7,13]
j=0
for i in l:
    if i%2==0:
        j=j+i
print(j)

22

In [15]:
d.values()

dict_values(['apple', 'bat', 'cat', 'hello'])

In [16]:
d.keys()

dict_keys(['a', 'b', 'c', 12])

In [18]:
d["x"]=50
print(d['x'])

50

In [27]:
d1={'milk':30,'pen':10}
d2={'book':20,'pen':10,'ice':70}
for k in d2.keys():
    if k in d1.keys():
        d1[k]=d1[k]+d2[k]
    else:
        d1[k]=d2[k]
print(d1)

{'milk': 30, 'pen': 20, 'book': 20, 'ice': 70}

In [28]:
x="this is on going pyhton lecture on jupiter notebook"
v="aeiou"
d={}
for i in v:
    d[i]=x.count(i)
print(d)

{'a': 0, 'e': 4, 'i': 4, 'o': 7, 'u': 2}