In [1]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [2]:
print(math.factorial.__doc__)

Find n!.

Raise a ValueError if x is negative or non-integral.

In [10]:
x=int(input("Enter radius:"))
PI=3.14
area=PI*x*x
print(area)

Enter radius:-5
78.5

In [11]:
x=-5//3
print(x) #integer division with lowest integer

-2

In [12]:
a=9
b=5
print(a%b)
print(a%-b)
print(-a%b)
print(-a%-b)

4
-1
1
-4

In [30]:
x=int(input("Enter your height in inches:"))
y= x//12
z=x%12
print("height is",y,z)

Enter your height in inches:74
height is 6 2

####

In [23]:
a=0
b=200
print(a and b)

0

In [10]:
x=int(input("enter a year:"))
if(x%4==0 and x%100!=0 or x%400==0):
    print("it is a leap year")
else:
    print("it is not a leap year")

enter a year:1640
it is a leap year

In [5]:
a=500
b=500
a is b
id(a)
id(b)
a is b

False

In [45]:
a=13
b=~a
print(b)

-14

In [61]:
l=[1,2,3,4,5]
print(sum(list([i for i in l if i%2!=0])))

9

In [62]:
a, b=0, 1
while a<10:
    print(a)
    a, b=b, a+b

0
1
1
2
3
5
8

In [1]:
#terniaray operator
age=20
message="you can vote" if age >=18 else "you cannot vote yet"
print(message)

you can vote

In [3]:
# can use conditional statements directly in function arguments

def greeting(age):
    message="you can vote" if age >=18 else "you cannot vote yet"
    print(message)
    
greeting(19)
greeting(16)

you can vote
you cannot vote yet

In [9]:
#channed comparisions
#python allows multiple comparisions

x=18
if 10<x<20:
    print("x is between 10 and 20")
    
marks=int(input("enter marks "))
if 80<=marks<=100:
    print('A')
    
if 60<=marks<80:
    print('B')
    
if 40<=marks<60:
    print('C')
    
if marks<40:
    print('FAIL')

x is between 10 and 20
enter marks 80
A

In [10]:
# all and any in bulit function

x=[2,4,6,8,10,12]
if all (y%2==0 for y in x ):
    print('All Numbers are Even')
else:
    print('All Numbers are not Even')

All Numbers are Even

In [12]:
x=[1,3,6,7,19,13]
if any (y%2==0 for y in x ):
    print('Number is Even')
else:
    print('Numbers are not Even')

Number is Even

In [14]:
#python uses short circuit evaluation for logical operators
# or fuction
x=5
if x==5 or some_fuction():
    print('condition meet')

condition meet

In [15]:
x=8  #error 
if x==5 or some_fuction():
    print('condition meet')

NameError: name 'some_fuction' is not defined

In [16]:
#try 0 1 and None
if None:
    print('true')
else:
    print('false')

false

In [17]:
if 0:
    print('true')
else:
    print('false')

false

In [18]:
if 1:
    print('true')
else:
    print('false')

true

In [19]:
"""pass statement"""
# if yu want a statement synticatically but dont want to do anything 
x=10
if x<5:
    pass
else:
    print('x is not greater than 5')
print('end of if')

x is not greater than 5
end of if

In [20]:
x=1
if x<5:
    pass
else:
    print('x is not greater than 5')
print('end of if')

end of if

In [6]:
#assertions using assert function

x=10
assert x<5,"should be grater than 5"
print('done')

AssertionError: should be grater than 5

In [1]:
#use the zip function to iterate over multiple iteration

names=['ayush','jitu','aftab']
ages=[20,19,24]
height=[6,5.6,4]
for names, age, height in zip(names, ages, height):
    print("{} is {} years old and {} feet long".format(names,age,height))

ayush is 20 years old and 6 feet long
jitu is 19 years old and 5.6 feet long
aftab is 24 years old and 4 feet long

In [18]:
a=[2,3,4]
b=['ab','bc']
d=zip(a,b)
x,y=zip(*d)
print(x)
print(y)

(2, 3)
('ab', 'bc')

In [19]:
print(zip.__doc__)

zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.

In [20]:
a=[2,3,4]
b=['ab','bc']
d=zip(a,b)
for i,j in d:
    print(i,j)

2 ab
3 bc

In [24]:
l=['Ayush','Jitu','Aftab']
for i in l:
    print(i,len(i))

Ayush 5
Jitu 4
Aftab 5

In [44]:
sharda={'yasa':'active','nihar':'active','sumit':'unactive','rahul':'unactive'}
act={}
nonact={}
for keys in sharda.items():
    if status == 'active':
         act[key]=value
    else:
        nonact[key]=value
print(act)
print(nonact)

NameError: name 'status' is not defined

In [7]:
x=int(input('enter a number: '))
z=(bin(x))
print(z)
#convert to list

enter a number: 6
0b110

In [9]:
def is_prime(n):
    if (n <= 1):
        return False
    if (n <= 3):
        return True
    if (n % 2 == 0 or n % 3 == 0):
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def primepartition(m):
    if m < 2:
        return False
    for i in range(2, m):
        if is_prime(i) and is_prime(m - i):
            return True
    return False
m = int(input("Enter a number: "))
if primepartition(m):
    print("True")
else:
    print("False")

Enter a number: -36
False