In [1]:
#this is a practice area

In [2]:
'''preparartion for
2nd sem mid 
term exam'''

'preparartion for\n2nd sem mid \nterm exam'

In [3]:
"""this is
also a multi
line comment ok """

'this is\nalso a multi\nline comment ok '

In [4]:
# using .__doc__ function to know about builtin function in python like
print( True.__doc__)
print('\n')
print(print.__doc__)

bool(x) -> bool

Returns True when the argument x is true, False otherwise.
The builtins True and False are the only two instances of the class bool.
The class bool is a subclass of the class int, and cannot be subclassed.


Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [5]:
for i in range(2):      
    print(i)  #indentation is used
    print("hi") #still inside indentation
print('Thank you') #now it is not inside for loop

0
hi
1
hi
Thank you

In [6]:
a=2  # A statement in python

In [13]:
x=2+3+ \
5+6+4+3+ \
5-3
print(x)

#Another way

y=(2+3+
  5+6+4+3+
  5-3)
print(y)

25
25

In [ ]:
d=2+3+4+5+1;print(d);a=3+4-5;print(a);print('awesome') #multiple statement in single line

In [ ]:
#using id() fuction
a=2
b=4
print(id(a))  # function id() retruns memory adress 
print(id(b))

In [ ]:
r=300
t=300
print(id(r));print(id(t)) #same value but still stored in different locations

In [ ]:
y=200
u=y
print(id(y))
print(id(u)) #same adress becoz variable u points to the adress of y

In [ ]:
# '\n' is used to change the line
# '\t' is used to give a tab space between 
# example-
print('twinkle twinkle little star\n \t\t how are wonder what are you\n \t\t up above so high\nlike a dimonad in the sky ')

In [ ]:
# let see for loop 
# i(variable->can by any other variable ) is used to iterate over the entire loop 
for i in range(2,13,4): # here in range it takes three arguments 1st-start value, 2nd-End value, 3rd-increment value
    print(i)            # by default start value starts from 0 and by default increment value is 1

In [27]:
l=['ayush','is','good']
print(l.join(l))

AttributeError: 'list' object has no attribute 'join'

In [30]:
print(split.__doc__)

NameError: name 'split' is not defined

In [35]:
print(and.__doc__)

SyntaxError: invalid syntax (1911404170.py, line 1)

In [61]:
x=200/17
print(x)

11.764705882352942

AYUSHsingh
H

In [32]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the solve function below.
def solve(s):
    l=[]
    s=s.split(" ")
    print(s)
    for i in s:
        l.append(i.capitalize())
    return ' '.join(l)  

s=input()
result=solve(s)
print(result)

132 456 Wq  m e
['132', '456', 'Wq', '', 'm', 'e']
132 456 Wq  M E

In [29]:
s=[1,2,3,4]
l=[]
print(type(l))
for i in s:
    l.append(i+2)
print(l)

<class 'list'>
[3, 4, 5, 6]

In [24]:
s='12abc'
print(s.capitalize())

12abc

In [2]:
l=['a','y','u','s','h']
i,j,k=0,1,2
while k<len(l):
    s=l[i]+l[j]+l[k]
    i+=1
    j+=1
    k+=1

In [15]:
string='ABCDCDC'
sub_string='CDC'
count=0
j=len(sub_string)
for i in range(0,len(string)):
    s=string[i:j]
    if s==sub_string:
        count+=1
    j+=1
print(count)

2

In [5]:
s='ayush'
print(s[4:5])

h

In [19]:
from collections import Counter
n = int(input())
sl = list(map(int, input().split()))

5
1 2 2 3 3
[1, 2, 2, 3, 3]
Counter({2: 2, 3: 2, 1: 1})

In [18]:
from collections import Counter

ml=[1,1,2,3,4,5,4,4,3,6,7]
print(Counter(ml))

Counter({4: 3, 1: 2, 3: 2, 2: 1, 5: 1, 6: 1, 7: 1})

In [1]:
def print_pyramid(height):
    for i in range(height):
        for j in range(height - i - 1):
            print(" ", end="")
        for k in range(2 * i + 1):
            print(k % 10, end="")
        print()

height = int(input("Enter the height of the pyramid: "))
print_pyramid(height)

Enter the height of the pyramid: 5
    0
   012
  01234
 0123456
012345678

In [9]:
def get_letter_grade(grade):
    if 90 <= grade <= 100:
        return 'A'
    elif 80 <= grade < 90:
        return 'B'
    elif 70 <= grade < 80:
        return 'C'
    elif 60 <= grade < 70:
        return 'D'
    elif 0 <= grade < 60:
        return 'F'
    else:
        return 'Invalid grade'

# Get numerical grade from user
num_grade = float(input("Enter the numerical grade: "))

# Get the corresponding letter grade
letter_grade = get_letter_grade(num_grade)

print("The letter grade is: ", letter_grade)

Enter the numerical grade: 78
The letter grade is:  C

In [10]:
# Start from 2 because 1 is not a prime number
for num in range(2, 101):
    # Assume the number is prime until proven otherwise
    is_prime = True

    # Check if num can be divided evenly by any number up to the square root of num
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            # If num can be evenly divided by i, it's not a prime number
            is_prime = False
            break  # No need to check further, exit the inner loop

    # If num couldn't be divided evenly by any number up to its square root, it's a prime number
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [12]:
def process_sentence():
    # Take input from the user
    sentence = input("Enter a sentence: ")

    # Initialize a counter for vowels
    vowel_count = 0

    # Define a string of vowels for comparison
    vowels = "aeiouAEIOU"

    # Iterate over each character in the sentence
    for char in sentence:
        # If the character is a vowel, increment the counter
        if char in vowels:
            vowel_count += 1

    # Replace spaces with underscores
    new_sentence = sentence.replace(' ', '_')

    # Print the results
    print("Number of vowels:", vowel_count)
    print("Sentence with spaces replaced by underscores:", new_sentence)

# Call the function
process_sentence()

Enter a sentence: My name is Ayush Singh
Number of vowels: 6
Sentence with spaces replaced by underscores: My_name_is_Ayush_Singh

In [15]:
import sys

# Print the Python version
print(sys.version)
print(sys.version_info)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=11, micro=5, releaselevel='final', serial=0)

In [18]:
def check_exam_eligibility():
    # Take input from the user
    classes_held = int(input("Enter the number of classes held: "))
    classes_attended = int(input("Enter the number of classes attended: "))

    # Calculate the attendance percentage
    attendance_percentage = (classes_attended / classes_held) * 100
    print(f"Attendance percentage: {attendance_percentage}%")

    # Check if the student is allowed to sit the exam
    if attendance_percentage < 75:
        # If attendance is less than 75%, ask if the student has a medical cause
        medical_cause = input("Do you have a medical cause? (Y/N): ")
        if medical_cause == 'Y':
            print("The student is allowed to sit the exam due to a medical cause.")
        else:
            print("The student is not allowed to sit the exam due to low attendance.")
    else:
        print("The student is allowed to sit the exam.")

# Call the function
check_exam_eligibility()

Enter the number of classes held: 50
Enter the number of classes attended: 32
Attendance percentage: 64.0%
Do you have a medical cause? (Y/N): N
The student is not allowed to sit the exam due to low attendance.

In [1]:
# Define a function to reverse a string and remove spaces
def reverse_string_and_remove_spaces(s):
    # Remove spaces and reverse the string
    reversed_string = s.replace(" ", "")[::-1]
    return reversed_string

# Take a string as input
s = input("Enter a string: ")

# Call the function and print the result
print(reverse_string_and_remove_spaces(s))

Enter a string: my name is ayush
hsuyasiemanym

In [3]:
# Define two tuples
tuple1 = (9,13,26,4)
tuple2 = (29,47,26,2,9,17)

# Concatenate the tuples
concatenated_tuple = tuple1 + tuple2

# Find the length of each tuple
length_tuple1 = len(tuple1)
length_tuple2 = len(tuple2)
length_concatenated_tuple = len(concatenated_tuple)

# Print the results
print(f"Tuple1: {tuple1}, Length: {length_tuple1}")
print(f"Tuple2: {tuple2}, Length: {length_tuple2}")
print(f"Concatenated Tuple: {concatenated_tuple}, Length: {length_concatenated_tuple}")

Tuple1: (9, 13, 26, 4), Length: 4
Tuple2: (29, 47, 26, 2, 9, 17), Length: 6
Concatenated Tuple: (9, 13, 26, 4, 29, 47, 26, 2, 9, 17), Length: 10

In [6]:
# Define two sets
set1 = {4,5,3,9}
set2 = {9,5,6,7}

# Calculate the union of the sets
union_set = set1.union(set2)

# Calculate the intersection of the sets
intersection_set = set1.intersection(set2)

# Print the results
print("Union of the sets:",union_set)
print("Intersection of the sets:",intersection_set)

Union of the sets: {3, 4, 5, 6, 7, 9}
Intersection of the sets: {9, 5}

In [9]:
def reverse_words_in_string(s):
    # Split the string into words
    words = s.split()
    
    # Reverse each word and join them back into a string
    reversed_string = ' '.join(word[::-1] for word in words)
    
    return reversed_string

# Test the function with the string "Hello World"
s = input()
print(reverse_words_in_string(s))  # Output: "olleH dlroW"

ym eman si hsuya hgnis
my name is ayush singh

In [17]:
# Take input for the first set
set1 = set(input("Elements of first set: ").split())

# Take input for the second set
set2 = set(input("Elements of second set: ").split())

# Check if set1 is a subset of set2
if set1.issubset(set2):
    print("Set1 is a subset of Set2")
# Check if set2 is a subset of set1
elif set2.issubset(set1):
    print("Set2 is a subset of Set1")
else:
    print("Neither set is a subset of the other")

Elements of first set:
Elements of second set:
Set1 is a subset of Set2

In [18]:
# Initialize an empty dictionary to store the student data
student_database = {}

# Function to add a new student
def add_student():
    name = input("Enter the student's name: ")
    grade = float(input("Enter the student's grade: "))
    student_database[name] = grade

# Function to update a student's grade
def update_grade():
    name = input("Enter the student's name: ")
    if name in student_database:
        grade = float(input("Enter the new grade: "))
        student_database[name] = grade
    else:
        print(f"Student {name} does not exist in the database.")

# Function to calculate the average grade
def average_grade():
    if student_database:
        return sum(student_database.values()) / len(student_database)
    else:
        return 0

# User interface
while True:
    print("\n1. Add a student")
    print("2. Update a student's grade")
    print("3. Calculate average grade")
    print("4. Exit")
    choice = int(input("Enter your choice: "))

    if choice == 1:
        add_student()
    elif choice == 2:
        update_grade()
    elif choice == 3:
        print(f"Average grade: {average_grade()}")
    elif choice == 4:
        break
    else:
        print("Invalid choice. Please enter a number between 1 and 4.")

1. Add a student
2. Update a student's grade
3. Calculate average grade
4. Exit
Enter your choice: 3
Average grade: 0

1. Add a student
2. Update a student's grade
3. Calculate average grade
4. Exit
Enter your choice: 1
Enter the student's name: ayush
Enter the student's grade: 98

1. Add a student
2. Update a student's grade
3. Calculate average grade
4. Exit
Enter your choice: 1
Enter the student's name: aftab
Enter the student's grade: 97

1. Add a student
2. Update a student's grade
3. Calculate average grade
4. Exit
Enter your choice: 3
Average grade: 97.5

1. Add a student
2. Update a student's grade
3. Calculate average grade
4. Exit
Enter your choice: 4

In [22]:
# Initialize a tuple of tuples, where each inner tuple represents a student
students = (
    ("ayush", 20, 98),
    ("aftab", 22, 85),
    ("adil", 18, 80),
    ("jitu", 19, 95),
    ("rahul", 17, 88)
)

# Sort the students based on their grades in descending order
s = sorted(students, key=lambda x: x[2], reverse=True)

# Print the sorted list of students
for i in s:
    print(i)

('ayush', 20, 98)
('jitu', 19, 95)
('rahul', 17, 88)
('aftab', 22, 85)
('adil', 18, 80)

In [26]:
def process_strings(strings):
    # Filter the list to include only strings with more than five characters
    filtered_strings = [s for s in strings if len(s) > 5]

    # Reverse the characters in each string
    reversed_strings = [s[::-1] for s in filtered_strings]

    return reversed_strings
strings = input()
strings=strings.split()
print(process_strings(strings))  # Output: ['nohtyP', 'emosewa']

hello python you are awesome
['nohtyp', 'emosewa']

In [32]:
# Initialize a dictionary with student names as keys and grades as values
students = {
    "aftab": 85,
    "jitu": 90,
    "ayush": 80,
    "adil": 95,
    "rahul": 88
}

# Sort the dictionary based on grades in descending order
s = sorted(students.items(), key=lambda x: x[1], reverse=True)
print(s)

# # Print the sorted results
# for student, grade in sorted_students:
#     print(f"{student}: {grade}")

[('adil', 95), ('jitu', 90), ('rahul', 88), ('aftab', 85), ('ayush', 80)]

In [36]:
def sort_books_by_year(books):
    # Sort the books based on the publication year in ascending order
    s_b = sorted(books, key=lambda x: x[2])
    return s_b

books = [
    ("fire", "Scott", 1925),
    ("Kill", "Lee", 1960),
    ("ash", "Orwell", 1949),
    ("Pride", "Jane", 1813)
]

print(sort_books_by_year(books))

[('Pride', 'Jane', 1813), ('fire', 'Scott', 1925), ('ash', 'Orwell', 1949), ('Kill', 'Lee', 1960)]